h1{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 3em;
    margin-top: 100px;
    color: whitesmoke;
    text-shadow: 8px 8px darkslategrey;
}
h2,h3,h4{
    color: white;
    text-shadow: 5px 5px darkslategrey;
    font-size: 5vh;
    padding: 25px;

}

section p:not(.introduction){

    text-shadow: black 5px 5px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3);
    font-weight: 900;
    margin: auto;
    margin-bottom: 100px;
}
.introduction{
display: flex;
    justify-content: center;
    font-size: 2em;
    color: white;
    font-weight: 900;
    text-shadow: black 0px 0px 50px;
    padding: 50px;

}
#presentation{
    margin-top: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
}
#tableauJoueurs {

    color: white;
    display: flex;
    font-size: 2em;
    border: solid forestgreen 2px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 15px;
    margin: auto auto 100px;
    padding : 10%
}
#tableauJoueurs th {
    padding: 5%;
}

#tableauJoueurs td {
border: dotted black;
}


table{
    justify-content: space-around;
}
#les3Meilleurs{
    margin-top: 10%;
     color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2em;

}
.photosMeilleurs{
    width: 50vh;
    border-radius: 500px;
    order: 1;
}
#Mehdi, #Magnus, #Wesley {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
#Magnus{
    order: 2;
}
video{
    border-radius: 50px;
    position: fixed;
    top: 10%;
    left: 5%;
    width: 90%;
    height:90%;
    background: rgba(0, 0, 0, 0.7);
    display: none;

}
#md{
    cursor: pointer;
}
#btnfermer{
    border: none;
    margin-top: 10px;
    cursor: pointer;
    position: fixed;
    top: 10%;
    left: 4%;
    display: none;
    z-index: 1000;
}
#btnfermer img{
    background: transparent;
    position: fixed;
    width: 5%;
    height: auto;
}
#btnfermer img:hover{
    transition: 0.3s;
    transform: scale(1.1);
}
#md:hover{
    transition: 0.5s;
    border: 2px solid white;
}
@media screen and (max-width: 1200px){

    #les3Meilleurs{
        display: flex;
        flex-direction: column;
    }
    #tableauJoueurs{
        width: 90%;
    }
    .photosMeilleurs{
        width: 50%;
    }
    p{
        font-size: 1em;
    }
}
@media screen and (max-width: 700px){

    #les3Meilleurs{
        display: flex;
        flex-direction: column;
    }
    #tableauJoueurs{
        width: 90%;
    }
    .photosMeilleurs{
       width: 50%;

    }
    p{
        font-size: 0.8em;
    }
    tr {
        margin: 2em;

    }
}
@media screen and (max-width: 500px){

    p{
        font-size: 0.5em;
    }
    #tableauJoueurs{
        width: 100%;
    }
}