
* {
    font-family: "Candara Light";
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

p{
    font-size: 3em;
    color: white;
    text-shadow: black 0px 0px 5px;
}



html{
    background-image: url("https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/PedroPinhata/php6wV0bn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}


